{%extends 'header.html'%} 
{%block content%}
<div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
    <h1 class="title" style="color: #fff">
				Home
			</h1>
    <hr>
    <ul class="list">
        {% for title in titles %}
        <li>
            <a href="{%url 'pols' title.id %}" class="title">
                <div style="background-color: #209cee;color:#fff;padding: 10px;border-radius: 7px;max-width: 600px">
                    {{title}}
                </div>
            </a>
            <br>
            <br>
        </li>
        {%endfor%}
    </ul>
    <br><br><br><br><br><br>
</div>
<br>
</div>

    <div class="columns" style="margin: 0px; padding: 20px; ">
        <dir class="column">
            <section class="hero is-small is-black">
                <div class="hero-body">
                    <center>
                        <h1  style="color: #fff" class="subtitle">We provide 100% anonymous voting on any topic you like</h1>
                        <a href="{%url 'login'%}" class="button is-info">
                            <center>
                                <h1 style="color: #fff">Create Your own polls</h1>
                            </center>
                        </a>
                    </center>
                    <br>
                    <br>
                </div>
            </section>
        </dir>
    </div>
{%endblock%}