{% extends 'header.html'%} {% block content%}
<center>
    <div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
        <h1 style="color: #fff" class="title">{{request.user}}</h1>
        <br>
        {% include 'components/form.html' %}
        <form method="post" style="padding: 10px" id="form">
            {% csrf_token %}
            <center>
                <label for="old_password" >Old Password*&nbsp;:&nbsp; </label>
                <br>
                <input style="max-width: 370" type="password" class="input" name="old_password" autofocus maxlength="254" required id="id_username" />
                <br>
                <br>
                <label for="id_password" >Password*&nbsp;:&nbsp;</label>
                <br>
                <input style="max-width: 370" type="password" class="input" name="new_password1" required id="id_password" />
                <br>
                <label for="id_password" >Re-Password*&nbsp;:&nbsp;</label>
                <br>
                <input style="max-width: 370" type="password" class="input" name="new_password2" required id="re_id_password" />
            </center>
            <br>
            <button style="color:#fff" type="submit" class="button is-primary is-large">Change</button>
        </form>
        <center>
            <br><br><hr>
            <a href="{% url 'dashboard'%}" style="color:#fff">
                <h1 style="color: #fff" class="title">Cancle</h1>
            </a>
        </center>
    </div>
</center>
{%endblock%}