{%extends 'header.html'%} 

{%block content%}
<center>
    <div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
        <h1 style="color: #fff" class="title">Password reset complete</h1>
        <br>
        {% include 'components/form.html' %}
        <center>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <br><hr><br>
            <a href="{% url 'login'%}">
                <h1 style="color: #fff" class="title">Login</h1>
            </a>
            <br>
        </center>
    </div>
</center>
<br>
<br>    
{%endblock%}