{%extends 'header.html'%} 
{%block content%} 
{% load crispy_forms_tags %}
<center>
    <div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
        <h1 style="color: #fff" class="title">Reset Password</h1>
        <center>
            {% include 'components/form.html' %}
            <form method="post" style="padding: 10px" id="form">
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <button type="submit" class="button is-info">Submit</button>
            </form>
            <hr><br>
            <a href="{% url 'login'%}">
                <h1 style="color: #fff" class="title">Login</h1>
            </a>
            <br><hr>
            <a href="{% url 'register'%}">
                <h1 style="color: #fff" class="title">Register</h1>
            </a>
            <br>
        </center>
    </div>
    <br><br>    
</center>

<script type="text/javascript">

    var element = document.getElementById("id_email");
    element.classList.add("input");
    element.classList.add("email_fielde");
    document.getElementById("id_email").classList.add("email_fielde");
 
</script>

{%endblock%}