{%extends 'header.html'%}
{% block content %}
{% load crispy_forms_tags %}
<center>
    <div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
        <h1 style="color: #fff" class="title">Reset Password</h1>
        <center>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <br>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <br>
            <a target="_blank" href="https://gmail.com">Go to gmail</a>
            <hr><br>
            <a href="{% url 'login'%}">
                <h1 style="color: #fff" class="title">Login</h1>
            </a>
            <br><hr>
            <a href="{% url 'register'%}">
                <h1 style="color: #fff" class="title">Register</h1>
            </a>
            <br>
        </center>
    </div>
</center>
<br><br>

<script type="text/javascript">
    var element = document.getElementById("id_email");
    element.classList.add("input");
    element.classList.add("email_fielde");
    document.getElementById("id_email").classList.add("email_fielde");
</script>

<style type="text/css">
label[for=id_email] {
    color: #fff;
    font-size: 24px;
}
</style>

{%endblock%}