{%extends 'header.html'%} {%block content%} 
{% load crispy_forms_tags %}
<center>
    <div class="card" style="background-color: #000;border-radius: 17px;padding: 20px;margin: 5%">
        <h1 style="color: #fff" class="title">Reset Password</h1>
        <center>
        {% include 'components/form.html' %}
        <form method="post" style="padding: 10px" id="form">
            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button type="submit" class="button is-info">Submit</button>
        </form>
            <br><hr><br>
            <a href="{% url 'login'%}">
                <h1 style="color: #fff" class="title">Login</h1>
            </a>
            <br>
        </center>
    </div>
</center>
<br>
<br>    

<script type="text/javascript">

    var element1 = document.getElementById("id_new_password1");
    var element2 = document.getElementById("id_new_password2");
    element1.classList.add("input");
    element2.classList.add("input");
    element1.classList.add("email_fielde");
    element2.classList.add("email_fielde");
    element1.classList.add("email_fielde");
    element2.classList.add("email_fielde");
 
</script>

<style type="text/css">
    label[for=id_new_password1], label[for=id_new_password2]{
        color: #fff;
        font-size: 24px;
    }
</style>
{%endblock%}